@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1384px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    gap: 8px;
  }
}
@media (max-width: 576px) {
  .breadcrumbs {
    gap: 6px;
  }
}
.breadcrumbs__link, .breadcrumbs__current {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
@media (max-width: 992px) {
  .breadcrumbs__link, .breadcrumbs__current {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .breadcrumbs__link, .breadcrumbs__current {
    font-size: 13px;
  }
}
.breadcrumbs__link {
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
.breadcrumbs__link:hover {
  color: #a21847;
}
.breadcrumbs__link::after {
  content: "/";
  display: inline-block;
  padding-left: 10px;
  color: #000000;
}
@media (max-width: 992px) {
  .breadcrumbs__link::after {
    padding-left: 8px;
  }
}
@media (max-width: 576px) {
  .breadcrumbs__link::after {
    padding-left: 6px;
  }
}
.breadcrumbs__current {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 40px 0;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .header {
    padding: 16px 0;
  }
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 36px;
}
@media (max-width: 992px) {
  .header__wrapper {
    gap: 16px;
  }
}
.header__burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
@media (max-width: 992px) {
  .header__burger {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.header__burger-button {
  display: block;
  width: 24px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  aspect-ratio: 1/1;
  border: none;
  outline: none;
  background: url(../assets/burger.svg) center/cover no-repeat;
  cursor: pointer;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 992px) {
  .header__logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo-link-image {
  display: block;
  max-width: 100%;
  width: 110px;
  height: auto;
}
@media (max-width: 992px) {
  .header__logo-link-image {
    width: 80px;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  gap: 60px;
}
@media (max-width: 992px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
.header__nav-link:hover {
  color: #a21847;
}
.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  gap: 24px;
}
@media (max-width: 992px) {
  .header__controls {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    gap: 16px;
  }
}
.header__controls-search, .header__controls-location {
  display: block;
  width: 24px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  aspect-ratio: 1/1;
  border: none;
  outline: none;
  cursor: pointer;
}
.header__controls-search {
  background: url(../assets/magnifying-glass.svg) center/cover no-repeat;
}
.header__controls-location {
  background: url(../assets/map-pin.svg) center/cover no-repeat;
}

.main {
  padding: 144px 0 0;
}
@media (max-width: 992px) {
  .main {
    padding: 68px 0 0;
  }
}

.about-page__title {
  margin: 32px 0 60px;
  font-weight: 600;
  font-size: 64px;
  color: #000;
}
@media (max-width: 992px) {
  .about-page__title {
    margin: 22px 0 48px;
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .about-page__title {
    margin: 12px 0 30px;
    font-size: 36px;
  }
}
.about-page__banner {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}
@media (max-width: 576px) {
  .about-page__banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    aspect-ratio: 358/175;
  }
}
.about-page__banner-bg {
  display: block;
  max-width: 100%;
  height: auto;
}
.about-page__banner-logo {
  position: absolute;
  top: 38.5%;
  right: 60px;
  z-index: 10;
  display: block;
  max-width: 100%;
  width: 30%;
  height: auto;
}
@media (max-width: 992px) {
  .about-page__banner-logo {
    right: 27px;
  }
}
@media (max-width: 576px) {
  .about-page__banner-logo {
    width: 133px;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
}

.about-us {
  margin: 20px 0;
}
.about-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.about-us__figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 12px;
}
@media (max-width: 1240px) {
  .about-us__figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 992px) {
  .about-us__figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    aspect-ratio: 1/1;
  }
}
.about-us__figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .about-us__figure-image {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.about-us__info {
  display: grid;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  min-height: 666px;
  padding: 160px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #f1f1f1;
}
@media (max-width: 1240px) {
  .about-us__info {
    min-height: 540px;
    padding: 160px 40px;
  }
}
@media (max-width: 992px) {
  .about-us__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    min-height: auto;
    padding: 40px 40px 8px;
  }
}
.about-us__info-title {
  margin: 0 0 220px;
  font-weight: 600;
  font-size: 64px;
  color: #a21847;
}
@media (max-width: 1240px) {
  .about-us__info-title {
    margin-bottom: 100px;
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .about-us__info-title {
    margin: 0 0 40px;
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .about-us__info-title {
    font-size: 24px;
  }
}
.about-us__info-slider {
  display: grid;
}
.about-us__info-slider .swiper {
  max-width: 100%;
}
.about-us__info-slider .swiper-wrapper {
  min-width: 0;
}
@media (max-width: 992px) {
  .about-us__info-slider .swiper-wrapper {
    padding: 0 0 40px;
  }
}
.about-us__info-slider .swiper-pagination {
  display: none;
}
@media (max-width: 992px) {
  .about-us__info-slider .swiper-pagination {
    display: block;
  }
}
.about-us__info-slider .swiper-pagination-bullet {
  background-color: #aeaeae;
}
.about-us__info-slider-slide {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
@media (max-width: 576px) {
  .about-us__info-slider-slide {
    font-size: 14px;
  }
}

.history {
  margin: 20px 0;
}
.history__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.history__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(66.6666666667% - 6.6666666667px);
          flex: 0 0 calc(66.6666666667% - 6.6666666667px);
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #f1f1f1;
}
@media (max-width: 1240px) {
  .history__main {
    gap: 60px;
    padding: 40px;
  }
}
@media (max-width: 992px) {
  .history__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .history__main {
    gap: 20px;
  }
}
.history__main-title {
  margin: 0;
  font-weight: 600;
  font-size: 64px;
  color: #a21847;
}
@media (max-width: 1240px) {
  .history__main-title {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .history__main-title {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .history__main-title {
    font-size: 24px;
  }
}
.history__main-text {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
@media (max-width: 576px) {
  .history__main-text {
    font-size: 14px;
  }
}
.history__additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
          flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #f1f1f1;
}
@media (max-width: 1240px) {
  .history__additional {
    padding: 40px;
  }
}
@media (max-width: 992px) {
  .history__additional {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.history__additional-text {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
@media (max-width: 576px) {
  .history__additional-text {
    font-size: 14px;
  }
}
.history__figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
          flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  overflow: hidden;
  border-radius: 12px;
  background-color: #f1f1f1;
}
@media (max-width: 992px) {
  .history__figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 992px) {
  .history__figure_first {
    width: 100%;
    aspect-ratio: 358/175;
  }
}
@media (max-width: 992px) {
  .history__figure_second {
    display: none;
  }
}
@media (max-width: 992px) {
  .history__figure_third {
    width: 100%;
    aspect-ratio: 358/175;
  }
}
.history__figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grow {
  margin: 20px 0;
}
.grow__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.grow__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
          flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #f1f1f1;
}
@media (max-width: 1240px) {
  .grow__main {
    gap: 60px;
    padding: 40px;
  }
}
@media (max-width: 992px) {
  .grow__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .grow__main {
    gap: 20px;
  }
}
.grow__main-title {
  margin: 0;
  font-weight: 600;
  font-size: 64px;
  color: #a21847;
}
@media (max-width: 1240px) {
  .grow__main-title {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .grow__main-title {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .grow__main-title {
    font-size: 24px;
  }
}
.grow__main-text {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
@media (max-width: 576px) {
  .grow__main-text {
    font-size: 14px;
  }
}
.grow__figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
          flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  overflow: hidden;
  border-radius: 12px;
  background-color: #f1f1f1;
}
.grow__figure_first {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(66.6666666667% - 6.6666666667px);
          flex: 0 0 calc(66.6666666667% - 6.6666666667px);
}
@media (max-width: 992px) {
  .grow__figure_first {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}
.grow__figure_second {
  height: 438px;
}
@media (max-width: 992px) {
  .grow__figure_second {
    display: none;
  }
}
.grow__figure_third {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(66.6666666667% - 6.6666666667px);
          flex: 0 0 calc(66.6666666667% - 6.6666666667px);
  height: 438px;
}
@media (max-width: 992px) {
  .grow__figure_third {
    display: none;
  }
}
.grow__figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.design-department {
  margin: 20px 0;
}
.design-department__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.design-department__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #f1f1f1;
}
@media (max-width: 1240px) {
  .design-department__main {
    gap: 60px;
    padding: 40px;
  }
}
@media (max-width: 992px) {
  .design-department__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .design-department__main {
    gap: 20px;
  }
}
.design-department__main-title {
  max-width: 100%;
  margin: 0;
  font-weight: 600;
  font-size: 64px;
  color: #a21847;
  overflow-wrap: break-word;
}
@media (max-width: 1240px) {
  .design-department__main-title {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .design-department__main-title {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .design-department__main-title {
    font-size: 24px;
  }
}
.design-department__main-text {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
@media (max-width: 576px) {
  .design-department__main-text {
    font-size: 14px;
  }
}
.design-department__additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
          flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #f1f1f1;
}
@media (max-width: 1240px) {
  .design-department__additional {
    padding: 40px;
  }
}
@media (max-width: 992px) {
  .design-department__additional {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
.design-department__additional-text {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
@media (max-width: 576px) {
  .design-department__additional-text {
    font-size: 14px;
  }
}
.design-department__figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
          flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  overflow: hidden;
  border-radius: 12px;
  background-color: #f1f1f1;
}
.design-department__figure_first {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
}
@media (max-width: 992px) {
  .design-department__figure_first {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 992px) {
  .design-department__figure_second {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 992px) {
  .design-department__figure_third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.design-department__figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.design-department__figure_first .design-department__figure-image {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.design-department__slider {
  display: grid;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}
.design-department__slider .swiper {
  max-width: 100%;
}
.design-department__slider .swiper-wrapper {
  min-width: 0;
}
.design-department__slider .swiper-button-prev, .design-department__slider .swiper-button-next {
  position: absolute;
  top: 40px;
  left: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #ffffff;
}
.design-department__slider .swiper-button-prev::after, .design-department__slider .swiper-button-next::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../assets/arrow-right.svg) center/cover no-repeat;
}
@media (max-width: 576px) {
  .design-department__slider .swiper-button-prev, .design-department__slider .swiper-button-next {
    display: none;
  }
}
.design-department__slider .swiper-button-next {
  right: 20px;
}
.design-department__slider .swiper-button-prev {
  right: 68px;
}
.design-department__slider .swiper-button-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.design-department__slider-slide-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}