.about-page {
  &__title {
    margin: 32px 0 60px;
    font-weight: 600;
    font-size: 64px;
    color: #000;

    @include laptop {
      margin: 22px 0 48px;
      font-size: 48px;
    }

    @include mobile {
      margin: 12px 0 30px;
      font-size: 36px;
    }
  }

  &__banner {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;

    @include mobile {
      display: flex;
      align-items: flex-end;
      aspect-ratio: 358 / 175;
    }

    &-bg {
      display: block;
      max-width: 100%;
      height: auto;
    }

    &-logo {
      position: absolute;
      top: 38.5%;
      right: 60px;
      z-index: 10;
      display: block;
      max-width: 100%;
      width: 30%;
      height: auto;

      @include laptop {
        right: 27px;
      }

      @include mobile {
        width: 133px;
        filter: brightness(0%);
      }
    }
  }
}
